.newsLatter{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 120px;
    background: linear-gradient(180deg,#fde1ff,#e1ffea22 60%);
    gap: 10px;
    border-radius: 20px;
}

.newsLatter h1{
    color: #454545;
    font-size: 38px;        
    font-weight: 600;
}

.newsLatter p{
    color: #454545;
    font-size: 20px; 
    font-weight: 300;       
}

.newsLatter div{
    display: flex;  
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 700px;
    height: 50px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;  
}   

.newsLatter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161; 
    font-size: 16px;
}

.newsLatter div button{
    width: 200px;
    height: 50px;
    border-radius: 80px;
    background: #ff4141;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition:0.3s;
    border: none;
    outline: none;
}

.newsLatter div button:hover{
    background:#ff1e1e;
    transform:scale(1.05);
}